@import 'variables';
@import 'message_style.scss';
@import 'review_style.scss';


.btn-freelance {
  color: white !important;
  background-color: $secondaryColor !important;
  border-radius: 20px !important;
  
  &:hover {
    background-color: $buttonHoverColor !important;
  }
}

.btn-delete {
  color: white !important;
  background-color: $red !important;
  border-radius: 20px !important;

  &:hover {
    background-color: $redHover !important;
  }
}

a {
  text-decoration: none !important;
}

.text-colored {
  color: $secondaryColor;
}



// .btn-freelance {
//   display: inline-block;
//   padding: .75rem 1.25rem;
//   border-radius: 10rem;
//   color: #fff;
//   font-size: 1rem;
//   letter-spacing: .15rem;
//   transition: all .2s;
//   position: relative;
//   overflow: hidden;
//   z-index: 3;
//   &:after {
//     content: '';
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     color: #fff;
//     background-color: $secondaryColor;
//     border-radius: 10rem;
//     z-index: -2;
//   }
//   &:before {
//     content: '';
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     width: 0%;
//     height: 100%;
//     color: #fff;
//     background-color:  $buttonHoverColor;
//     transition: all .2s;
//     border-radius: 10rem;
//     z-index: -1;
//   }
//   &:hover {
//     color: #fff;
//     &:before {
//       width: 100%;
//     }
//   }
// }


