.profile-image{
  width: 120px;
  min-width: 20px;
  height: 120px;
  min-height: 20px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.back{
  width: 90px;
  height: 20px;
  text-align: center;
  .btn-back {
    cursor: pointer;
    padding: 4px;
  }
}

.side {
  display: flex;
  flex-wrap: wrap;

  .left-side {
      width: 70%;
  }
  .right-side {
    width: 30%;
  }
}



.cat, .skill {
  display: flex;
  flex-wrap: wrap;
}

.reviews-section {
  margin-top: 58px;
}

.curriculum{
  width: 200px;
  height: 400px;
}

.cust-card-review{
  margin-right: 50px;
}

.card {
  flex-direction: row !important;
  margin: 0 16px;
}

.cust-card-review {
  display: flex;
  width: 30%;
  border-radius: 20px !important;
  box-shadow: 0px 10px 10px $shadow;

  .card-body{
    width: 30%;
  }

  .top {
    min-width: 0;
    height: 30px;
    background-color: $secondaryColor !important;
    border-radius: 20px 20px 0  0!important;
    padding: 0;
  }
}

.starGraphic {
  font-size: 20px;
  color: $thirdColor;
}


/* voto con stelline */

.rating {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 50px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: $primaryColor;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: $thirdColor;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: $primaryColor;
  text-shadow: 0 0 5px $thirdColor;
}