.nav-freelancers{
  // background-color: $buttonHoverColor !important;
  background-color: rgb(199, 223, 235) !important;
  // box-shadow: 0px 10px 10px $secondaryColor !important;

  // .nav-link{
  //   width: 265px;
  //   height: 60px !important;
  // }

  .logo{
    width: 265px;
    height: 50px;
    vertical-align: middle;
    // line-height: 50px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  a{
    color: $secondaryColor;
    font-weight: 600;
    &:hover{
      color: $thirdColor;
    }
  }
}

.box-img-header{
  width: 20px;
  height: 20px;
  border-radius: 50%;
   overflow: hidden;
   display: inline-block;
     img{
       width: 100%;
       height: 100%;
       object-fit: cover;
       display: inline-block;
     }
}

.container-team4 {
  width: 100%;
  margin: auto !important;
}